@page "/events"
@using EventApp.Infrastructure
@using EventApp.Models
@using Microsoft.AspNetCore.Components.QuickGrid

@inject EventsApiClient EventsApi

<h3>Events</h3>

@if (events == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Start time</th>
                <th>End time</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in events)
            {
                <tr>
                    <td>@e.Name</td>
                    <td>@e.Description</td>
                    <td>@e.StartTime.ToShortDateString()</td>
                    <td>@e.EndTime.ToShortDateString()</td>
                    <td><a href="/event/@e.Id" class="btn btn-primary">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IQueryable<Models.Event> events;

    protected override async Task OnInitializedAsync()
    {
        var result = await EventsApi.GetEventsAsync();

        if (result != null)
        {
            events = result.AsQueryable();
        }
    }


}
